.schedule {

  &__moutain-pic-wrapper {
    display: flex;
    justify-content: center;
  }

  &__moutain-pic {
    width: 95%;
    object-fit: cover;
    height: 500px;
  }

  &__title-wrapper {
    font-weight: 500;
    letter-spacing: 0.05em;
    text-align: left;
    margin: 4rem 0 0rem 0;
    font-family: Big Caslon;
    font-style: italic;
    font-size: 14px;
    padding: 2rem;

  }
  &__info-wrapper {
    text-align: left;
    font-family: Big Caslon;
    line-height: 1.4em;
    font-size: 20px;
    padding: 0rem 2rem 4rem;
  }

  &__location {
    text-align: center;
    font-family: Big Caslon;
    font-weight: 500;
    font-size: 1.1rem;
    letter-spacing: 0.03em;
    line-height: 1.4em;
  }

  &__villefranche {
    margin: 0 0 4rem 0;
  }
  &__venue {
    font-size: 1.3rem;

    margin: 0 0 1rem 0;
    font-weight: bold;
  }
  &__cap {
    margin: 0 0 4rem 0;
  }

  &__nice {
    margin: 0 0 4rem 0;
  }

}

// .info-wrapper {
//   border: 2px solid green;

// }

// .component-wrapper {
//   border: 2px solid black;

// }

//   .villefranche {
//     border: 2px solid red;

//   }

//   .cap {
//     border: 2px solid black;

//   }

//   .nice {
//     border: 2px solid green;
//   }

//   .bloc-wrapper {
//     border: 2px solid blue;
//   }
