.info {
  display: flex;
  justify-content: left;
  flex-direction: column;

  &__section-hotel {
    margin-top: 6rem;
    text-align: center;
    a {
      text-decoration: none;
    }
    margin-left: -1rem;
  }
  &__section-hotel-name {
    margin: 0;
  }
  &__section-hotel-address {
    margin: 0;
    margin-bottom: 1rem;
  }
  &__section-hotel-deal {
    text-align: left;
  }

  &__title {
    font-weight: 500;
    letter-spacing: 0.05em;
    margin: 4rem 0 0rem 0;
    font-family: Big Caslon;
    font-style: italic;
    font-size: 14px;
    padding: 2rem 2rem 2rem 0;
  }

  &__section-img {
    width: 100%;
    object-fit: cover;
    height: 500px;
  }

  &__section-text-wrapper {
    padding: 2rem 2rem 5rem 2rem;

    p {
      font-size: 22px;
      letter-spacing: 0.02em;
      line-height: 1.4em;
      font-family: Big Caslon;
    }
  }

  a {
    color: inherit;
    font-style: italic;
    font-size: 17px;
    text-decoration: none;
  }
}

.cities {
  display: flex;
  justify-content: space-evenly;
  font-size: 17px;
  margin: 3rem 0 3rem 0;
}

.selected {
  border-bottom: 2px solid #db423d;
  padding-bottom: 10px;
}

@media screen and (min-width: 992px) {
  .cities {
  cursor: pointer;
  }

  .info {
    padding: 10rem 0;

    &__section {
      display: grid;
      width: 80%;
      grid-template-columns: 54% 46%;
      margin: 0 auto;
      grid-template-areas: "description image";
      font-size: 20px;
    }

    &__title {
      padding: 2rem 2rem 2rem 0;
    }

    &__section-img {
      width: 100%;
      height: inherit;
      grid-area: image;
    }

    &__section-hotel {
      margin-top: 4rem;
    }

    &__section-text-wrapper {
      padding: 0rem 10rem 5rem 2rem;

      p {
        font-size: 20px;
      }

    }

    &__section-hotel-deal {
      font-size: 18px;
      margin: 1rem 0;
    }
  }
}
