// .resto-pic {
//       /* height: 200px; */
//       width: 450px;
//       object-fit: cover;
//       margin: 9rem 5rem 0rem 20rem;

  
    
// }
.info-wrapper {
  border: 2px solid green;
  flex-basis: 40%;
  text-align: right;
}

.component-wrapper {
  border: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 2px solid black;
  margin: 5rem 0 0rem 0;
  padding: 10rem;
}


.moutain-pic {
      width: 1400px;
      object-fit: cover;
      margin: 0 0 0 5.5rem;
      height: 500px;
      padding: 0 7rem;
      filter:   brightness(100%)


    
  }
  
  // h2 {
  //   font-family: Big Caslon;
  //   letter-spacing: .02em;
  //   font-size: 3rem;
  //   font-weight: 100;
  // text-align: center;

  // }
  
  h3 {
    font-family: Big Caslon;
    letter-spacing: .02em;
    font-size: 1.2rem;
    font-weight: 100;
    font-style: italic;
  }
  
  /* Portrait and Landscape */
@media only screen and (max-width: 700px)  { 
      .moutain-pic {
        width: 317px;
        object-fit: cover;
        margin: 36px 0px 0px 31px;
        height: 500px;
        padding: 0 0 0rem 0rem;
    
      }

    

      .component-wrapper {
        border: 2px solid black;
        margin: 5rem 0 5rem 0;
        display: flex;
        border: 2px solid black;
        margin: 43rem -17px 0rem 0;
    
      }

        .title-wrapper {
          border: 2px solid red;
          margin: -5rem 6rem 24rem -6.5rem;
          font-weight: 500;
          letter-spacing: .05em;
  
    }
    .info-wrapper {
      border: 2px solid green;
      margin: 2rem 4rem -7rem -11rem;
      padding: 0rem 3rem 1rem 0rem;
      // flex-basis: 40%;
      // text-align: right;
    }

    // text {
    //   font-weight: 500;
    //   letter-spacing: .02em;
    // }
}