// .resto-pic {
//       /* height: 200px; */
//       width: 450px;
//       object-fit: cover;
//       margin: 9rem 5rem 0rem 20rem;

  
    
// }
.info-wrapper {
  border: 2px solid green;
  flex-basis: 40%;
  text-align: right;
}

.component-wrapper {
  border: 2px solid black;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  border: 2px solid black;
  margin: 5rem 0 0rem 0;
  padding: 10rem;
}

h2 {
text-align: center;
}

.moutain-pic {
      width: 1400px;
      object-fit: cover;
      margin: 0 0 0 5.5rem;
      height: 500px;
      padding: 0 7rem;
      filter:   brightness(100%)


    
  }
  
  h2 {
    font-family: Big Caslon;
    letter-spacing: .02em;
    font-size: 3rem;
    font-weight: 100;
  }
  
  h3 {
    font-family: Big Caslon;
    letter-spacing: .02em;
    font-size: 1.2rem;
    font-weight: 100;
    font-style: italic;
  }
  
  /* Portrait and Landscape */
@media only screen and (max-width: 700px)  { 
      .moutain-pic {
            width: 376px;
            object-fit: cover;
            margin: 0 0 0 0;
            height: 500px;  
             padding: 0 0 0rem 0rem;
      }

}