.pop-message {
    font-family: Big Caslon;
    letter-spacing: .02em;
    font-size: 1.65rem;
    font-style: italic;
    padding: 14rem 3rem 0 3rem;
  }

  .kc-thank {
    font-weight: 500;
    position: relative;
    /* border: 2px solid red; */
    /* font-size: 1.9rem; */
    /* font-weight: bold; */
    text-align: center;
    font-family: Hopipolla;
    font-size: 5rem;
    -webkit-transform: rotate(
0deg);
    margin: 8rem 0 0 0;
    visibility: hidden;

  }