.img1 {
    /* height: 200px; */
    width: 450px;
    object-fit: cover;
    margin: 9rem 5rem 0rem 20rem;
    float: left;

  }
  .about-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid black;
    margin:  10rem 0 0rem 0;
  border: 2px solid purple;
    /* contain: layout; */
  
  }

  .text-wrapper {
    border: 2px solid blue;
    float: right;
    padding: 3rem;
    margin: 18rem 20rem 0 0;
  }

  .title-wrapper {
    border: 2px solid red;
    text-align: left;
    flex-basis: 60%;

  }
  .info-wrapper {
    border: 2px solid green;
    flex-basis: 40%;
    text-align: right;
  }

  .test {
    border: 2px solid black;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border: 2px solid black;
    margin: 5rem 0 0rem 0;
    padding: 10rem;
  }

  h2 {
  text-align: center;
  }

  h3 {
    text-align: center;
  }

  button {
    margin: 3rem 0 0 11rem;
    padding: 1rem 4rem;
    background-color: #db423d;
    color: #fff;
    border: none;
    font-weight: 500;
    letter-spacing: .08em;
    line-height: 1.2em;
  }

/* Portrait and Landscape */
@media only screen and (max-width: 700px)  { 
  .about-wrapper {
    display: flex;
    justify-content: space-between;
    border: 2px solid black;
    margin:  10rem 0 0rem 0;
  
    /* contain: layout; */
    flex-wrap: wrap;
  
  }
    .img1 {
      /* height: 200px; */
      width: 250px;
      object-fit: cover;
      margin: 1rem 0rem 0rem 4rem;
    }
  
    .text-wrapper {
      border: 2px solid blue;
      float: right;
      margin: 2rem 0rem 0 0rem;
      text-align: center;
      padding: 0;
  
    }
  
    .title-wrapper {
      border: 2px solid red;
      text-align: left;
      flex-basis: 60%;
  
    }
    .info-wrapper {
      border: 2px solid green;
      flex-basis: 40%;
      text-align: right;
    }
  
    .test {
      display: flex;
      justify-content: space-between;
      border: 2px solid black;
      margin: 2rem 0 10rem 0;
      padding: 5rem;
      /* contain: layout; */
      flex-wrap: wrap;
    }


  button {
    margin: 3rem 0 0 1rem;
    padding: 1rem 4rem;
    background-color: #db423d;
    color: #fff;
    border: none;
    font-weight: 500;
    letter-spacing: .08em;
    line-height: 1.2em;
  }

  }