.colorchange {
  background: linear-gradient(180deg, #f5e2df, #eed8d500);
  transition: 0.8s all ease;
  top: 0;
  position: sticky;
  z-index: 999;
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  justify-content: space-between;

  &__translation {
    display: flex;
    justify-content: space-between;
  }

  &__burger {
    margin: 1rem 1rem 0 0;
  }

  &__list-wrapper {
    width: 100vw;
    height: 70vh;
    position: absolute;
    background-color: #fdf8f7;
    top: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 2;
  }

  &__list {
    list-style: none;
    margin: 4rem 0 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__list-item {
    font-size: 1.7rem;
    margin-bottom: 1.5rem;
  }

  &__link {
    text-decoration: none;
  }
}

@media screen and (min-width: 992px) {
  .navigation {
    display: flex;
    width: 100vw;
    position: sticky;
    top: 0;

    &__list-wrapper {
      width: initial;
      position: initial;
      height: auto;
      align-items: inherit;
      background: transparent;
    }

    &__list {
      list-style: none;
      margin: inherit;
      padding: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 2.5rem 2rem 0;
    }

    &__list-item {
      margin: 0 0 0 2rem;
      font-size: 18px;
    }
  }
}
