h1 {
    font-weight: 500;
    position: relative;
    font-family: Hopipolla;
    font-size: 10rem;
    -webkit-transform: rotate(-4deg);
    /* border: 2px solid red; */
    margin: 4rem 0 0 1rem;
  
    }
    .nav-wrapper {
      margin: 0;
      padding: 0;
      list-style-type: none;
      text-align: right;
      position: absolute;
      top: 3rem;
      right: 3rem;
      /* line-height: 1.6em; */
      cursor: pointer;       
    }

    a {
      color: inherit;
      text-decoration: none;
    }

    .nav-item  a:hover {
      font-size: 2.1rem;
    }

    .nav-item {
      margin-right: 4rem;
      display: inline-block;
    }

    /* Portrait and Landscape */
@media only screen and (max-width: 1200px)  { 
  
h1 {
font-weight: 500;
position: relative;
/* border: 2px solid red; */
/* font-size: 1.9rem; */
/* font-weight: bold; */
text-align: center;
font-family: Hopipolla;
font-size: 5rem;
-webkit-transform: rotate(0deg);
border: 2px solid red;
margin: 4rem 0 0 1rem;

}

.nav-wrapper {
  margin: 2rem 0rem 0rem 4.5rem;
  padding: 3rem 5rem 0 3rem;
  list-style-type: none;
  text-align: center;
  /* position: absolute; */
  /* top: 3rem; */
  /* right: 3rem; */
font-size: 1.45rem;
cursor: pointer;  
font-style: italic;
}

.nav-item {
  /* margin-right: 2rem; */
  /* display: inline-block; */
/* border: 2px solid blue; */
margin: -0.2rem;
/* font-size: 1.2rem; */
}


a {
  color: inherit;
  text-decoration: none;
}
}