.footer {
  margin: 1rem 3rem 1rem 3rem;

  &__wrapper-last {
    flex-basis: 40%;
    text-align: center;
    margin: 2rem 0 2rem 0;
    font-style: italic;
    font-size: 13px;
  }

  &__wrapper-quote {
    flex-basis: 40%;
    text-align: center;
    margin: 2rem 0 3rem 0;
    font-size: 24px;
    letter-spacing: 0.02em;
    line-height: 1.7rem;
    font-family: Big Caslon;
  }

  &__wrap {
    display: flex;
    justify-content: center;
  }

  &__wrap-btn {
    padding: 1rem 4rem;
    background-color: #db423d;
    color: #fff;
    border: none;
    font-weight: 500;
    letter-spacing: 0.08em;
    line-height: 1.2em;
    cursor: pointer;
    font-family: Big Caslon;
    margin-bottom: 9rem;
  }
}

.button2 {
  padding: 1rem 4rem;
  background-color: #db423d;
  color: #fff;
  border: none;
  font-weight: 500;
  letter-spacing: 0.08em;
  line-height: 1.2em;
  cursor: pointer;
  font-family: Big Caslon;
  margin-bottom: 5rem;
}

@media screen and (min-width: 992px) {
  .footer {
    &__wrapper-quote {
      width: 50%;
      margin: 0 auto;
      margin-bottom: 3rem;
      font-size: 35px;
      line-height: 2.5rem;
      margin-top: 12rem;
    }
  }
}
