@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 120px auto;
      max-width: 320px;
    }

    .password-specs {
        margin: 0 0 0 0.8rem;
    }

    .email-specs {
        margin: 0 0 0 4rem;
    }

  }