@media all and (min-width: 480px) {
    .Login {
      padding: 60px 0;
    }
  
    .Login form {
      margin: 120px auto;
      max-width: 320px;
    }

    .password-specs {
        margin: 0 0 0 0.8rem;
    }

    // .email-specs {
    //     margin: 0 0 0 4rem;
    // }

  }
  
  .login-btn {
    padding: 1rem 4rem;
    background-color: #db423d;
    color: #fff;
    border: none;
    font-weight: 500;
    letter-spacing: .08em;
    line-height: 1.2em;
    margin: 5rem 5rem;
    font-family: Big Caslon;
  }

  @media only screen and (max-width: 700px)  { 
  
    .Login form {
      margin: 120px auto;
      max-width: 320px;
    }

    .form-group {
      padding: 1.5rem;
      display: inline-grid;

      margin: 82px 0 0 3rem;
      width: 60%;
    }

    .form-label {


      /* width: 53%; */
      padding: 0 auto;
      /* margin: 2rem 0 0 0; */
      text-align: center;
      padding: 2rem 0 0 0;
    }
    .password-specs {
      margin: 14px 0px 0px 0;
    }

    .login-btn {
      padding: 1rem 4rem;
      background-color: #db423d;
      color: #fff;
      border: none;
      font-weight: 500;
      letter-spacing: .08em;
      line-height: 1.2em;
      margin: 4rem 4rem 3rem 5.5rem;
      font-family: Big Caslon;
      padding: 1rem;
      width: 50%;
    }

    .kc-login {
    font-weight: 500;
    text-align: center;
    font-size: 5rem;
    margin: 4rem 0 58px 2px;
    font-family: Hopipolla;
    padding: -1rem 3rem -2rem 1rem;
    border: 2px solid red;
    }


    
  }