
  body {
  background: #f7efee;
  font-family: Big Caslon;
  letter-spacing: .02em;
  line-height: 1.4em;
  font-size: 2rem;
}



/* Portrait and Landscape */
@media only screen and (max-width: 700px)  { 

    body {
      background: #f7efee;
      font-family: Big Caslon;
      letter-spacing: .02em;
      line-height: 1.4em;
      overflow-y: scroll; /* has to be scroll, not auto */
/* -webkit-overflow-scrolling: touch; */
/* margin: 0; */
      overflow-x: hidden !important;

    }

    html {
      overflow-x: hidden;
    }
}