body {
  background: #f7efee;
  font-family: Big Caslon;
  letter-spacing: 0.02em;
  line-height: 1.4em;
}

html {
  scroll-behavior: smooth;
}

.translation-wrapper {
  display: flex;
  justify-content: flex-end;
}

.selectBox {
  border: 1px solid #f7efee;
  border-radius: 7px;
  font-family: Big Caslon;
  letter-spacing: 0.02em;
  padding: 0.5rem;
  font-size: 1rem;
  background: white;
  margin: 1rem 1rem 0;
}

/* Portrait and Landscape */
// @media only screen and (max-width: 700px)  {

//     body {
//       background: #f7efee;
//       font-family: Big Caslon;
//       /* letter-spacing: .02em; */
//       line-height: 1.4em;
//       overflow-y: scroll; /* has to be scroll, not auto */
//       overflow-x: hidden !important;

//     }

//     html {
//       overflow-x: hidden;
//     }

//     .selectBox{
//       border: 1px solid #f7efee;
//       border-radius: 7px;
//       /* float: right; */
//       margin: 2rem 0rem 0 17rem;
//       font-family: Big Caslon;
//       letter-spacing: .02em;
//       padding: 0.5rem;
//       font-size: 1rem;
//       /* position: fixed; */
//       background: white;

//     }

//     .optionsMenu {
//       font-family: Big Caslon;
//       letter-spacing: .02em;
//     }

//     .kc-login {
//       font-weight: 500;
//       position: relative;

//       font-size: 1.9rem;

//       text-align: center;
//       font-family: Hopipolla;
//       font-size: 5rem;

//       margin: -8rem 0 58px 2px;
//       position: fixed;
//       z-index: 999;
//       width: 89%;
//       padding: 3rem 1rem 1rem 1rem;
//     }

//     .colorchange{
//       color: rgba(0, 0, 0, 0.288);

//       background: linear-gradient(180deg, #f7efee, #f7efee00);
//       transition: 0.6s all ease;

//     }

//     .color {

//       color: black;

//     }

//     .noselectBox {
//       /* display: none; */
//       /* background-color: blue; */
//       transition: 0.6s all ease;
//       visibility: hidden;
//       opacity: 0;
//       transition: visibility 0s linear 500ms, opacity 500ms;

//     }

// }
